


@media(max-width: 576px){

    .header-wrap img{
        width: 100px;
    }
    .container-block-1{
        max-width: 476px;
    }
    .header-wrap{
        flex-direction: column;

}
    .header-wrap img{
        margin-bottom:50px;
    }
    .nav ul{
      flex-wrap: wrap;
    }
    .nav ul li{
        width: 50%;
    }

    .col-4{
        width: 100%;
    }

 .ques .row{
     grid-row-gap: 30px;
 }
}

@media(max-width: 375px) {
    .container-block-1{
        max-width: 315px;
    }


}